@mixin cover($cover-property) {
	-webkit-background-size: $cover-property;
	-moz-background-size: $cover-property;
	-ms-background-size: $cover-property;;
	-o-background-size: $cover-property;;
	transition: $cover-property;;
}