// Typografie
$smoothTextShadow: 1px 1px 1px rgba(255,255,255,0.005);
$letterSpacingHeadline: 0.05em;

// Grössen
$desktopWidth: 980px;
$logoWidth: 240px;
$marginBig: 35px;


// Farben
$corporateColorViolet: #622181;