/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 @import "compass/reset";
 @import "compass/css3";
 @import "mixin";
 @import "variables";
 @import "grid";

 @include font-face("Novecento", font-files("novecentowide-light-webfont.ttf", "novecentowide-light-webfont.otf", "novecentowide-light-webfont.woff", "novecentowide-light-webfont.eot", "novecentowide-light-webfont.svg"));
 @include font-face("CardoItalic", font-files("cardo-italic-webfont.ttf", "cardo-italic-webfont.otf", "cardo-italic-webfont.woff", "cardo-italic-webfont.eot", "cardo-italic-webfont.svg"));
 @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700);

 * {
 	@include box-sizing(border-box);
 	text-shadow: $smoothTextShadow;
 	-webkit-font-smoothing: antialiased;
 	font-size: $baseFontSize;
 	@include transition(all 0.3s ease);
 }

 body {
 	background: url(../images/background-body.jpg) no-repeat center center fixed;
 	@include cover(cover);
 	-webkit-hyphens: auto;
 	-moz-hyphens: auto;
 	-ms-hyphens: auto;
 	-o-hyphens: auto;
 	hyphens: auto;
 	margin-right: -20px; 	
 }

// Struktur
header {
	padding: $marginBig 0;
	text-align: center;
	border-bottom: $whiteBorder;
	margin-bottom: $marginBig;
	.logo{
		margin-bottom: $marginBig;
	}
}
.contentWrapper{
	.content{
		background: white;
		padding: $marginMedium;
	}
}

// Typografie
h1, h2, h3, h4, h5, h6, p, li{
	line-height:$lineHeight;
	color: $corporateColorViolet;		
}

h1{
	font-family:"Novecento";
	font-size: $baseFontSize*5;
	letter-spacing: $letterSpacingHeadline;
	margin-bottom: $marginMedium;
}
h2{
	font-family:"CardoItalic";
	font-size: $baseFontSize*2.5;
	color: $corporateColorLauftext;
}
h3{
	font-family:"CardoItalic";
	font-size: $baseFontSize*2.333;
	margin-bottom: $marginSmall;
}
p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: $lineHeightLauftext;
	font-size: $baseFontSize*1.333;
	color: $corporateColorLauftext;
	margin-top: $marginSmall/2;
	&:first-child{
		margin-top: 0;
	}
}

// Links

a{
	color: $corporateLinkColor;
	text-decoration: none;
	.contentWrapper p &{
		display: inline-block;
		margin-top: $marginSmall/2;
		padding: $marginMedium/10 $marginMedium/4;
		border: $linkBorder;
		&:hover{
			color: $white;
			background: $corporateLinkColor;
		}
		&:active{
			background: $corporateColorViolet;
			border: $linkBorderHover;
		}
	}
	&:hover{
		color: $corporateColorViolet;
	}
}

// Bilder

img{
	.logo &{
		width: 241px;
	}
	.teaser &{
		display: block;
		margin: 0 auto $marginMedium;
	}

}

// Media Queries

@media desktop, only screen and (max-width: 1040px) {
	h1{
		font-size: $baseFontSize*4;
	}
	h2{
		font-size: $baseFontSize*2;
	}
	img{
		.logo &{
			width: 200px;
		}
	}

}

@media handheld, only screen and (max-width: 768px) {
	body {
	 	margin-right: 0; 	
	}	

	h1{
		font-size: $baseFontSize*3;
	}
	h2{
		font-size: $baseFontSize*1.75;
	}
	h3{
		margin-bottom: $marginSmall/2;
	}
	img{
		.teaser &{
			display: none;
		}
	}
	header{
		padding: $marginSmall 0;
		.logo {
			margin-bottom: $marginSmall;
		}
	}
}

@media handheld, only screen and (max-width: 320px) {
	header{
		padding: $marginMedium/4 0 $marginMedium;
	}
}