/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 @import "compass/reset";
 @import "compass/css3";
 @import "mixin";
 @import "variables";

@include font-face("Novecento", font-files("novecentowide-light-webfont.ttf", "novecentowide-light-webfont.otf"));
@include font-face("CardoItalic", font-files("cardo-italic-webfont.ttf", "cardo-italic-webfont.otf"));


 * {
 	@include box-sizing(border-box);
 	text-shadow: $smoothTextShadow;
 	-webkit-font-smoothing: antialiased;
 }

 body {
 	background: url(../images/background-body.jpg) no-repeat center center fixed;
 	@include cover(cover);
 }

// Struktur
header {
	max-width: $desktopWidth;
	margin: 0 auto;
	padding: $marginBig 0 0;
	.logo{
		text-align: center;
		margin-bottom: $marginBig;
	}
}

// Typografie

h1{
	font-family:"Novecento";
	font-size: 48px;
	color: $corporateColorViolet;
	letter-spacing: $letterSpacingHeadline;
	header &{
		text-align: center;
	}
}
h2{
	font-family:"CardoItalic";
}