include includes/_doctype
html(lang='de')
  include includes/_head
  body.hyphenate
    include includes/_parallax
    include includes/_navigation
    .grid.grid-pad.push
      .headerWrapper
        .col-1-1
          header.gridContent
            a.menu-link.push(href='#menu')  
            .logo
              a(href='index.html')
                img(src='images/logo-sabina-oertli-hebamme-zuerich.png', alt='Sabina Oertli – Hebamme in Zürich')
            h1 Herzlich willkommen
            h2 Eine wunderbare Heiterkeit hat meine ganze Seele eingenommen, gleich den süßen Frühlingsmorgen, die ich mit ganzem Herzen genieße.
      .contentWrapper.push
        .col-1-4
          .gridContent.teaser
              img(src='images/icon-schwangerschaft.png', alt='Schwangerschaft')
              h3 Schwangerschaft
              p
                | Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte.
              p
                a(href='angebot.html#Schwangerschaft') Mehr Infos…
        .col-1-4
          .gridContent.teaser
            img(src='images/icon-geburtsvorbereitung.png', alt='Geburtsvorbereitung')
            h3 Geburtsvorbereitung
            p
              | Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte.
            p
              a(href='angebot.html#Geburtsvorbereitung') Mehr Infos…
        .col-1-4
          .gridContent.teaser
            img(src='images/icon-wochenbett.png', alt='Wochenbett')
            h3 Wochenbett
            p
              | Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte.
            p
              a(href='angebot.html#Wochenbett') Mehr Infos…
        .col-1-4
          .gridContent.teaser
            img(src='images/icon-rueckbildung.png', alt='Rückbildung')
            h3 Rückbildung
            p
              | Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte.
            p
              a(href='angebot.html#Rueckbildung') Mehr Infos…
      .col-1-1
        include includes/_footer
    include includes/_scripts
