include includes/_doctype
html(lang='de')
  include includes/_head
  body.hyphenate
    include includes/_parallax
    include includes/_navigation
    .grid.grid-pad.push
      .headerWrapper
        .col-1-1
          header.gridContent
            a.menu-link.push(href='#menu')  
            .logo
              a(href='index.html')
                img.editable(src='images/Sabina-Oertli-Hebamme.png', alt='Sabina Oertli – Hebamme in Zürich')
            h1.editable Über mich
            h2.editable Eine wunderbare Heiterkeit hat meine ganze Seele eingenommen, gleich den süßen Frühlingsmorgen, die ich mit ganzem Herzen genieße.
      .contentWrapper.push
        .col-1-1
          .gridContentTop.teaser.editable
            h5 Berufserfahrung
            .grid
              .col-1-4
                h3 2009 –
                p Hallo
                  br 
                  | Welt
              .col-1-4
                p Hallo
              .col-1-4
                p Hallo
              .col-1-4 
                p Hallo 
      .col-1-1
        include includes/_footer
    include includes/_scripts
