include includes/_doctype
html(lang='de')
  include includes/_head
  body.hyphenate
    include includes/_parallax
    include includes/_navigation
    .grid.grid-pad.push
      .headerWrapper
        .col-1-1
          header.gridContent
            a.menu-link.push(href='#menu')  
            .logo
              a(href='index.html')
                img.editable(src='images/Sabina-Oertli-Hebamme.png', alt='Sabina Oertli – Hebamme in Zürich')
            h1.editable Über mich
            h2.editable Eine wunderbare Heiterkeit hat meine ganze Seele eingenommen, gleich den süßen Frühlingsmorgen, die ich mit ganzem Herzen genieße.
      .contentWrapper.push
        .col-1-1
          .gridContentTop.teaser.editable
            h5 Berufserfahrung
            .grid
              .col-1-4
                h3
                  span 2009 – 
                  | 2014
                ul
                  li Freipraktizierende Hebamme mit Bewilligung der Gesundheitsdirektion des Kantons Zürich
                  li Tätigkeit als Hebamme im Geburtshaus Delphys
              .col-1-4
                h3
                  span 2007 – 
                  | 2009
                ul
                  li Tätigkeit als Hebamme im Stadtspital Triemli und Seespital Horgen
              .col-1-4
                h3
                  span 2005 – 
                  | 2007
                ul
                  li Ausbildung zur diplomierten Hebamme an der Hebammenschule Zürich
              .col-1-4 
                h3
                  span 1998 – 
                  | 2002
                ul
                  li Ausbildung zur diplomierten Pflegefachfrau DN2
                  li Theodosianum, Schule für GPK
          .gridContentTop.teaser.editable
            h5 Weiterbildungen
            .grid
              .col-1-4
                h3
                  span 2013 – 
                  | 2014
                ul
                  li Diplom Beckenboden Kursleiterin
              .col-1-4
                h3
                  span 2012 – 
                  | 2013
                ul
                  li Nachträglicher Titelerwerb für reflektierte Praxis Wissenschaft verstehen. ZHAW. 
              .col-1-4
                h3
                  span 2010 – 
                  | 2011
                ul
                  li Traditionelle Hebammenkunst bei Barbara Kosfeld
              .col-1-4 
                h3
                  span 2007 – 
                  | 2008
                ul
                  li Akupunktur-Ausbildung am Zhong Institut
          .gridContentTop.teaser.editable
            h5 Mitgliedschaften
            .grid
              .col-1-1
                h3
                  a(href="#") Diplom Beckenboden Kursleiterin
                h3
                  a(href="#") Mitglied Fachgruppe freipraktizierende Hebammen der Stadt Zürich
      .col-1-1
        include includes/_footer
    include includes/_scripts
