/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: "Novecento";
  src: url('../fonts/novecentowide-light-webfont.ttf') format('truetype'), url('../fonts/novecentowide-light-webfont.otf') format('opentype'), url('../fonts/novecentowide-light-webfont.woff') format('woff'), url('../fonts/novecentowide-light-webfont.eot') format('embedded-opentype'), url('../fonts/novecentowide-light-webfont.svg') format('svg'); }

@font-face {
  font-family: "CardoItalic";
  src: url('../fonts/cardo-italic-webfont.ttf') format('truetype'), url('../fonts/cardo-italic-webfont.otf') format('opentype'), url('../fonts/cardo-italic-webfont.woff') format('woff'), url('../fonts/cardo-italic-webfont.eot') format('embedded-opentype'), url('../fonts/cardo-italic-webfont.svg') format('svg'); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.005);
  -webkit-font-smoothing: antialiased;
  font-size: 12px; }

body {
  background: url(../images/background-body.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  transition: cover; }

.pageWrapper {
  margin: 0 auto;
  max-width: 1020px;
  padding: 0 20px; }

header {
  padding: 35px 0;
  text-align: center;
  border-bottom: 1px solid white; }
  header .logo {
    margin-bottom: 35px; }

h1, h2, h3, h4, h5, h6, p, li {
  line-height: 1.3em; }

h1 {
  font-family: "Novecento";
  font-size: 48px;
  color: #622181;
  letter-spacing: 0.1rem;
  margin-bottom: 20px; }

h2 {
  font-family: "CardoItalic";
  font-size: 24px;
  color: #a8998b; }
