mixin Geburtvorbeitungskurs
	script(type='text/javascript') document.write("<a href=\"mail" + "to:" + new Array("info","oertli.ch").join("@") + "?subject=Anmeldung für Geburtvorbeitungskurs" + "\">" + "Geburtvorbeitungskurs" + "</" + "a>");
mixin Akupunkturbehandlung
	script(type='text/javascript') document.write("<a href=\"mail" + "to:" + new Array("info","oertli.ch").join("@") + "?subject=Anmeldung für Akupunkturbehandlung" + "\">" + "Akupunkturbehandlung" + "</" + "a>");
mixin Rueckbildungskurs
	script(type='text/javascript') document.write("<a href=\"mail" + "to:" + new Array("info","oertli.ch").join("@") + "?subject=Anmeldung für Rückbildungskurs" + "\">" + "Rückbildungskurs" + "</" + "a>");
mixin Kontakt
	script(type='text/javascript') document.write("<a class=\e-mail href=\"mail" + "to:" + new Array("info","oertli.ch").join("@") + "?subject=Kontakt von Webseite" + "\">" + new Array("info","oertli.ch").join("@") + "</" + "a>");