footer.gridContent
  nav
    ul
      li
        a.home(href='') Home
      li
        a.ueber(href='') Über mich
      li
        a.angebot(href='') Hello
      li
        a.kontakt(href='') Kontakt
  h4 Sabina Oertli
  ul
    li.telefon 044 200 20 20
    li
      a.e-mail(href='') info@oertli.ch