footer.gridContent
  nav
    ul
      include _sitemap
  h4 Sabina Oertli
  ul
    li.telefon 044 200 20 20
    li
      <script type="text/javascript">document.write("<a class=\e-mail href=\"mail" + "to:" + new Array("info","oertli.ch").join("@") + "\">" + new Array("info","oertli.ch").join("@") + "</" + "a>");</script>