nav#menu.panel(role='navigation')
  h1 Sabina Oertli
  ul
    li
      a(href='#') Home
    li
      a(href='#') Über mich
    li
      a(href='#') Angebote
    li
      a(href='#') Kontakt
  ul
    li
      a(href='') &#9993;
    li
      a(href='tel:0442002020') &#128222;