nav#menu.panel(role='navigation')
  h1 Sabina Oertli
  ul
    include _sitemap
  ul
    li
      script(type='text/javascript') document.write("<a href=\"mail" + "to:" + new Array("info","oertli.ch").join("@") + "?subject=Kontakt von Webseite" + "\">" + "&#9993;" + "</" + "a>");
    li
      a(href='tel:0442002020') &#128222;